TC58/__pycache__/items.cpython-35.pyc
TC58/__pycache__/pipelines.cpython-35.pyc
TC58/__pycache__/settings.cpython-35.pyc
TC58/spiders/__pycache__/tc58.cpython-35.pyc
TC58/__pycache__/__init__.cpython-35.pyc
TC58/spiders/__pycache__/__init__.cpython-35.pyc
#.gitignore
*.pyc

